.gameOptions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    width: 300px;
}
.gameOptions > div {
    padding: 10px;
    box-sizing: border-box;
}
.gameOptions .level {
    display: flex;
    flex-direction: column;
}
