#app > .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.simon {
    background: #fff;
    margin-bottom: 15px;
    width: 302px;
    height: 295px;
    -webkit-border-radius: 150px 150px 150px 150px;
    border-radius: 150px 150px 150px 150px;
    -moz-box-shadow: 2px 1px 12px #aaa;
    -webkit-box-shadow: 2px 1px 12px #aaa;
    -o-box-shadow: 2px 1px 12px #aaa;
    box-shadow: 2px 1px 12px #aaa;
}
.simon .red,
.simon .blue,
.simon .yellow,
.simon .green {
    opacity: 0.6;
    height: 290px;
    -webkit-border-radius: 150px 150px 150px 150px;
    border-radius: 150px 150px 150px 150px;
    position: absolute;
    text-indent: 10000px;
}
.simon .red:hover,
.simon .blue:hover,
.simon .yellow:hover,
.simon .green:hover {
    border: 2px solid black;
}
.simon .active {
    opacity: 1;
}
.simon .red {
    background: red;
    clip: rect(0px, 300px, 150px, 150px);
    width: 296px;
}
.simon .blue {
    background: blue;
    clip: rect(0px, 150px, 150px, 0px);
    width: 300px;
}
.simon .yellow {
    background: yellow;
    clip: rect(150px, 150px, 300px, 0px);
    width: 300px;
}
.simon .green {
    background: green;
    clip: rect(150px, 300px, 300px, 150px);
    width: 296px;
}
